.navigation {
	position: absolute;
	width: 100%;

		h1 {
			color: white;
			font-family: $sans;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 200;
			letter-spacing: 4px;
			position: absolute;
			left: 40px;
			top: 30px;
		}
		ul {
			position: absolute;
			right: 30px;
			top: 34px;

				li {
					display: inline-block;
					color: white;
					font-family: $sans;
					padding-left: 20px;
					padding-right: 20px;
				}
		}
}

.dark {
	h1, li {
		color: $text !important;
	}	
}