.city-header {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 

		h1 {
			margin-top: 260px;
			font-family: $sans;
			text-align: center;
			font-size: 40px;
			font-weight: 300;
			letter-spacing: 8px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		p {
			font-family: $serif;
			text-align: center;
			font-size: 18px;
			line-height: 1.4;
			max-width: 400px;
			margin: auto;
			margin-bottom: 260px;
		}
		#white {
			color: white;
		}
		#black {
			color: $text;
		}
}


.item {
	margin-top: 60px;


		.item-name {
			font-family: $serif;
			color: $text;
			font-size: 24px;
			margin-bottom: 16px;
			font-weight: 500;
		}
		.item-desc {
			font-family: $sans;
			color: $light-text;
			font-size: 18px;
			line-height: 1.5;
		}
		.wide-image {
			width: 120%;
			margin-left: -10%;
		}
		ul {
			margin: 35px auto 45px;
				li {
					display: inline-block;
					margin-right: 40px;
					font-size: 16px;
					font-family: $serif;
					color: $text;
					font-style: italic;
				}
				.link-icon {
					background-image: url(../imgs/link.svg);
					background-position: left center;
					background-repeat: no-repeat;
					padding-top: 0px;
					padding-left: 26px; /* Or size of icon + spacing */
				}
				.location-icon {
					background-image: url(../imgs/location.svg);
					background-position: left center;
					background-repeat: no-repeat;
					padding-top: 0px;
					padding-left: 26px; /* Or size of icon + spacing */
				}
		}
}



.controls {
	margin: 40px auto 80px !important;


		.label {
			font-family: $serif;
			font-style: italic;
			color: $light-text;
			font-size: 12px;
			margin-bottom: -5px;

		}
		p {
			font-family: $serif;
			color: $text;
			font-size: 18px;

				&:hover {
					opacity: 0.7;
				}
		}
		a {
			text-decoration: none;
		}
		#right {
			text-align: right;
		}
		.label:hover {
		opacity: 1;
		}
}